* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #000;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.container h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  padding: 20px;
  margin-bottom: 30px;
}

.titles {
  margin-bottom: 10px;
}

.titles h2 {
  margin-bottom: 15px;
  cursor: pointer;
}

hr {
  margin-bottom: 15px;
}

.publish {
  margin: 30px 0;
  text-align: center;
}

.publish input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  width: 80%;
  border: 1px solid grey;
}

.publish button {
  display: block;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
}
